body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

label,
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    text-align: center;
    margin-top: 20px;
}
